<%- include('../partials/header') %>

    <h1><%=skill.skill%> Skills:</h1>
    <ul>
        <% skill.proficiencies.forEach(function(proficiency){%>
            <li><%= proficiency %></li>
        <%}); %>
    </ul>
    
<%- include('../partials/footer') %>